* {
	margin: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.main {
	width: 80%;
	margin: auto;
}

.wrapper {
	width: 100%;
	display: flex;
	margin: 40px auto;
	justify-content: center;
}

.content {
	background: #444;
	color: #fff;
	width: 200px;
	height: 200px;
}


h2 {
	text-align: center;
	margin: 15px 0;
}

.container {
	margin-top: 20px;
	position: relative;
}

.vertical {
	width: 75px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 75px;
}

.vertical-input {
	width: 30px;
	height: 100%; 
	position: relative;
}

.vertical-input input {
	width: 75px;
	position: absolute;
	transform: rotate(90deg);
	left: -26.5px;
	top: 32.5px;
	border: none;
	outline: none;
}

.vertical label {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.horizontal, .center, .color {
	width: 75px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 75px;
}

.horizontal input {
	width: 100%;
	border: none;
	outline: none;
}

.horizontal label {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

select {
	width: 70px;
	height: 30px;
}

input[type='button'] {
	width: 50px;
	height: 25px;
}

.color {
	width: 100px;
	height: 100px;
}

.color div {
	width: 100%;
}

.color div input {
	width: 75%;
	margin-right: 10px;
}

.block {
	width: 160px;
	height: 160px;
	position: absolute;
	background: black;
}